/platforms/android/app/build/generated
/platforms/android/app/build/intermediates
/platforms/android/CordovaLib/build
/platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
/platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
/platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
/platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
/platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
/platforms/android/app/src/main/assets/www/add.html
/platforms/android/app/src/main/assets/www/index.html
/platforms/android/app/src/main/assets/www/js/config.js
/platforms/android/app/src/main/assets/www/js/libdata.js

/platforms/android/app/build/outputs

/platforms/android/.gradle
