.divLeft {
    float: left;
}

#divToolbar {
    float: right;
}

#divToolbarNormal {
    display: block;
}

#divToolbarSelection {
    display: none;
}

.iconToolbar {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.iconToolbar:active {
    background-color: white;
}

#buttonMenu {   /* ellipsis */
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    cursor: pointer;
}

    #buttonMenu:active {
        color: black;
    }

#divMenu {
    box-shadow: 1px 1px 5px #888888;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 30px;
    display: none;
    padding: 5px;
    overflow: hidden;
    font-size: 120%;
    cursor: pointer;
}

.divMenuItem {
    padding: 5px;
}

#divAdd {
    color: white;
    font-weight: bolder;
    font-size: 300%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 3px 3px 5px #888888;
}

    #divAdd:hover {
        cursor: pointer;
    }

    #divAdd:active {
        color: black;
    } 
    
table {
    width: 100%;
    border-collapse: collapse;
}

.th {
    font-weight: bolder;
}

.thtop {
    text-align: center;
}

.td {
    text-align: center;
    width: 100%;
}

tr {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #DCDCDC;
}

.habitColumn {
    padding-left: 5px;
}

#divDialog {
    box-shadow: 1px 1px 5px #888888;
    width: 75%;
    position: absolute;
    z-index: 1;
    top: 40vh;
    left: 10vw;
    display: none;
    padding: 5px;
    overflow: hidden;
    font-size: 120%;
}

